@import "components/mixins";
@import "components/vars";
@import "components/preloader";
@import "components/fonts";
@import "../libs/font-awesome/scss/font-awesome";

@include font-face("FontAwesome", "fontawesome", "fontawesome", "serif");

html, body{
  height: 100%;
}

body.exam-screen{
  background-color: $main-color;
  color: #fff;
  .main-container{
    overflow: hidden;
    .main-container__inner{
      transform: translate3d(0,0,0);
      // Move to next slide
      &.shift-slides{
        transform: translate3d(-50%,0,0);
        transition: transform .8s cubic-bezier(.77, -.33, .46, 1.26);
      }
      position: relative;
      width: 200%;
      margin: 0;
      left: 0;
      .question{
        width: 50%;
        float: left;
        .container{
          .question-text{
            h3{
              font-weight: 300;
              margin: 0;
            }
          }
          img.materialboxed{
            margin: 0 auto;
          }
          .answers{
            form{
              p{
                label{
                  font-size: 2rem;
                  color: #fff;
                }
                [type="radio"]:not(:checked)+label:before,
                [type="radio"]:not(:checked)+label:after{
                  border: 2px solid #fff;
                }
                [type="radio"]:checked+label:after,
                [type="radio"].with-gap:checked+label:before,
                [type="radio"].with-gap:checked+label:after{
                  border: 2px solid $accent-color;
                }
                [type="radio"]:checked+label:after,
                [type="radio"].with-gap:checked+label:after{
                  background-color: $accent-color;
                }
              }
              .btn-large{
                background-color: $accent-color;
              }
            }
          }
        }
      }
      .question:last-child{
        left: 100%;
      }
    }
  }
}

@import "components/media";
