// Media queries
@media screen and (min-width: 993px){
  body.admin-sceen {
    nav {
      .button-collapse{
        display: block;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body.login-screen{
    font-size: 12px;
    background-color: $main-color;
    >.row{
      margin: 0;
      >.col{
        padding: 0;
      }
      .card{
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        h1{
          font-size: 3rem;
        }
        .btn-social-icon > .fa{
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  body.login-screen{
    .input-field{
      input[type=password],
      input[type=email] {
        font-size: 1.5rem !important;
      }
      label {
        font-size: 1.5rem !important;
        top: 0.85rem !important;
      }
      label.active {
        font-size: .85rem !important;
      }
    }
    .btn-social-icon + .btn-social-icon {
      margin-left: .7rem;
    }
  }
  body.exam-screen{
    h4{
      font-size: 1.5rem !important;
    }
    h3{
      font-size: 2rem !important;
    }
    .answers form p label{
      font-size: 1.5rem !important;
    }
  }
}
